# It is not recommended to modify this file in-place, because it will
# be overwritten during package upgrades. If you want to add further
# options or overwrite existing ones then use
# $ systemctl edit konjocoind.service
# See "man systemd.service" for details.

# Note that almost all daemon options could be specified in
# /etc/konjocoin/konjocoin.conf, except for those explicitly specified as arguments
# in ExecStart=

[Unit]
Description=Konjocoin daemon
After=network.target

[Service]
ExecStart=/usr/bin/konjocoind -daemon \
                            -pid=/run/konjocoind/konjocoind.pid \
                            -conf=/etc/konjocoin/konjocoin.conf \
                            -datadir=/var/lib/konjocoind

# Process management
####################

Type=forking
PIDFile=/run/konjocoind/konjocoind.pid
Restart=on-failure

# Directory creation and permissions
####################################

# Run as konjocoin:konjocoin
User=konjocoin
Group=konjocoin

# /run/konjocoind
RuntimeDirectory=konjocoind
RuntimeDirectoryMode=0710

# /etc/konjocoin
ConfigurationDirectory=konjocoin
ConfigurationDirectoryMode=0710

# /var/lib/konjocoind
StateDirectory=konjocoind
StateDirectoryMode=0710

# Hardening measures
####################

# Provide a private /tmp and /var/tmp.
PrivateTmp=true

# Mount /usr, /boot/ and /etc read-only for the process.
ProtectSystem=full

# Disallow the process and all of its children to gain
# new privileges through execve().
NoNewPrivileges=true

# Use a new /dev namespace only populated with API pseudo devices
# such as /dev/null, /dev/zero and /dev/random.
PrivateDevices=true

# Deny the creation of writable and executable memory mappings.
MemoryDenyWriteExecute=true

[Install]
WantedBy=multi-user.target
